<!-- start navbar -->
<div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a href="../" class="navbar-brand">Bootswatch</a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav">

            <li>
              <a href="../help/">Upload</a>
            </li>
            <li>
              <a href="http://news.bootswatch.com">View</a>
            </li>
          </ul>

          <ul class="nav navbar-nav navbar-right">

            <% if user_signed_in? %>
              <li><%= link_to "Logged In As: #{current_user.email}", "#" %></li>
              <li><%= link_to 'Edit profile', edit_user_registration_path %></li>
              <li><%= link_to "Logout", destroy_user_session_path, method: :delete %> </li>
            <% else %>
              <li><%= link_to "Sign up", new_user_registration_path %></li>
              <li><%= link_to "Login", new_user_session_path %></li>
            <% end %>
            <li><a href='#' target="_blank">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>
<!-- end navbar -->

    <div class="container">

      <div class="page-header" id="banner">
        <div class="row">
          <div class="col-lg-6">
            <h1>Nessus Report Generator</h1>
            <p class="lead">Upload and view</p>
          </div>
          <div class="col-lg-6">
            <div class="bsa well">
                <p>This is test testasdf kalsdf jalksjdf laksjdf alskjd fasdjf alkshis is test testasdf kalsdf jalksjdf laksjdf alskjd fasdjf alkshis is test testasdf kalsdf jalksjdf laksjdf alskjd fasdjf alkshis is test testasdf kalsdf jalksjdf laksjdf alskjd fasdjf alkshis is test testasdf kalsdf jalksjdf laksjdf alskjd fasdjf alkshis is test testasdf kalsdf jalksjdf laksjdf alskjd fasdjf alkshis is test testasdf kalsdf jalksjdf laksjdf alskjd fasdjf alks </p>
            </div>
          </div>
          <div class="row">
            <% if user_signed_in? %>
              <%= render 'layouts/upload' %>
            <% end %>

          </div>
        </div>
      </div>
